  <tr>
    <td><%= @book.title %></td>
    <td><%= @book.order_quantity %></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><table>
      <% @book.subscribers.each do |subscriber| %>
        <% if (@q = subscriber.book_quantity(@book)) > 0 %>
          <tr>
            <td><%= subscriber.full_name %></td>
            <td><%= @q %></td>
          </tr>
        <% end %>
      <% end %>
    </table></td>
  </tr>
  