<tr>
  <td><%= @subscriber.full_name %></td>
  <td><%= @subscriber.total_books %></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td><table>
    <% @subscriber.books.each do |book| %>
      <% if (@q = @subscriber.book_quantity(book)) > 0 && book.active %>
        <tr>
          <td><%= book.title %></td>
          <td><%= @q %></td>
        </tr>
      <% end %>
    <% end %>
  </table></td>
</tr>
